{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
    Hello Employee {{ user.username }}!<br>
      <div class="cards col-sm-12 bg-info">
        Employee Info goes here
      </div>
      {% csrf_token %}
      <table style="width:100%">
        <caption>Customers in your area</caption>
        <tr>
          <th> Customer </th>
          <th>Zip Code</th>
          <th> weekly pick up day</th>
          <th> One Time pickup </th>
        </tr>
        {% for customer in customers %}
        <tr>
          <td> {{customer.name}} </td>
          <td> {{customer.zipcode}} </td>
          <td>{{customer.weekly_pickup_day}}</td>
          <td>{{customer.one_time_pickup}}</td>
        </tr> 
        {% endfor %}
         
        
      </table>
      <!-- {% for customer in customers %}
      Name: {{customer.name}}<br>
      zipcode: {{customer.zipcode}}<br>
      pick up day: {{customer.weekly_pickup_day}}<br>
      {% endfor %} -->
       
    

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}